.carousel-item {
  height: 70vh;
  min-height: 350px;
  background: no-repeat scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
