<div class="container-fluid pb-3">
  <div class="d-grid gap-3" style="grid-template-columns: 1fr 1fr 1fr">
    <!-- Grid column with a Bootstrap card -->

    <div class="bg-light border rounded-3">
      <div class="card">
        <img
          src="assets/img/organisation.webp"
          class="card-img-top"
          alt="Card image"
        />
        <div class="card-body">
          <h5 class="card-title">Organistatorisches</h5>
          <p class="card-text">
            Hier gibt es alles wichtige zum Ablauf und den Locations für die
            große Feier.
          </p>
          <a href="#" class="btn btn-primary">Mehr rausfinden</a>
        </div>
      </div>
    </div>

    <div class="bg-light border rounded-3">
      <div class="card">
        <img
          src="assets/img/dresscode_carousel.webp"
          class="card-img-top"
          alt="Card image"
        />
        <div class="card-body">
          <h5 class="card-title">Dresscode</h5>
          <p class="card-text">
            Alles was du zum Dresscode wissen musst mit Beispielbildern findest
            du hier.
          </p>
          <a href="#" class="btn btn-primary">Mehr rausfinden</a>
        </div>
      </div>
    </div>
    <!-- Repeat for other columns -->
    <div class="bg-light border rounded-3">
      <div class="card">
        <img
          src="assets/img/music_alt.webp"
          class="card-img-top"
          alt="Card image"
        />
        <div class="card-body">
          <h5 class="card-title">Musik</h5>
          <p class="card-text">
            Hier kannst du sowohl Musikvorschläge machen als auch andere
            Vorschläge hochvoten!
          </p>
          <a href="#" class="btn btn-primary">Mehr rausfinden</a>
        </div>
      </div>
    </div>
  </div>
</div>
