<app-carousel></app-carousel>

<section class="py-5">
  <div class="container">
    <h1 class="fw-light">Willkommen</h1>
    <p class="lead">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet aperiam
      vero unde eos dolorum fugiat exercitationem nostrum consequatur
      repellendus? Praesentium illum, ut neque corporis aspernatur
      exercitationem sequi fuga alias assumenda deleniti hic corrupti impedit
      voluptatibus labore quia doloremque totam perferendis quam ipsam omnis
      nisi suscipit. At dolorem pariatur est. Reiciendis?
    </p>
  </div>
</section>
